html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: #181818;
    font-size: 14px;
    min-width: 720px;
}

* {
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    color: #fff;
    letter-spacing: 1px;
}

.hide {
    display: none !important;
}

.show {
    display: block;
}

#now-playing-container {
    width: 100%;
    background-color: #282828;
    bottom: 0;
    position: fixed;
    min-width: 620px;
}

#now-playing-container #now-playing-bar {
    display: flex;
    align-items: center;
    height: 90px;
    padding: 16px;
    box-sizing: border-box;
}

#now-playing-bar-right,
#now-playing-bar-left {
    min-width: 180px;
    width: 30%;
}

#now-playing-bar-center {
    width: 40%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#now-playing-bar .content {
    width: 100%;
    height: 57px;
}

.player-controls {

}

.player-controls .buttons {
    margin: 0 auto;
    display: table;
}

.control-button {
    background-color: transparent;
    border: none;
    vertical-align: middle;
    cursor: pointer;
}

.control-button img {
    width: 20px;
    height: 20px;
}

.player-controls .control-button.pause img,
.player-controls .control-button.play img {
    width: 32px;
    height: 32px;
}

.playback-bar .progress-time {
    color: #a0a0a0;
    font-size: 11px;
    min-width: 40px;
    text-align: center;
}

.progress-bar {
    width: 100%;
    height: 12px;
    display: inline-flex;
    cursor: pointer;
    align-items: center;
}

.playback-bar {
    display: flex;
}

.progress-bar-bg {
    background-color: #404040;
    height: 4px;
    width: 100%;
    border-radius: 2px;
}

.progress-bar .progress {
    background-color: #a0a0a0;
    height: 4px;
    width: 0;
    border-radius: 2px;
}

#now-playing-bar-left .album-link img {
    height: 100%;
    max-width: 57px;
    margin-right: 15px;
    float: left;
    object-fit: cover;
    cursor: pointer;
}

#now-playing-bar-left .track-info {
    display: table;
}

#now-playing-bar-left .track-name {
    display: inline-block;
    margin: 6px 0;
    width: 100%;
    cursor: pointer;
}

#now-playing-bar-left .artist-name {
    font-size: 12px;
    color: #a0a0a0;
    cursor: pointer;
}

#now-playing-bar-right {

}

.volume-bar {
    display: flex;
    align-items: center;
    width: 180px;
    float: right;
}

.volume-bar .progress-bar {
    width: 125px;
}

#top-container {
    min-height: 100%;
    width: 100%;
}

#nav-bar-container {
    background-color: #000;
    width: 220px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

.nav-bar {
    padding: 25px;
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
}

.nav-bar .logo {
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 10px;
    display: block;
    cursor: pointer;
}

.nav-bar .logo img {
    width: 28px;
    height: 28px;
}

.nav-bar .group {
    border-top: 1px solid #a0a0a0;
    padding: 10px 0;
}

.nav-bar .nav-item {
    padding: 10px 0;
    font-size: 16px;
    font-weight: 700;
    display: block;
    letter-spacing: 1px;
    text-decoration: none;
    position: relative;
}

.nav-bar .nav-item-link {
    display: block;
    cursor: pointer;
    text-decoration: none;
    color: #a0a0a0;
}

.nav-bar .nav-item-link:hover {
    color: #fff;
}

.icon {
    width: 24px;
}

.nav-item.search-container .nav-item-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#main-view-container {
    margin-left: 220px;
    padding-bottom: 90px;
    width: calc(100% - 220px);
}

#main-content {
    padding: 0 20px;
}

.page-heading-big {
    padding: 20px;
    text-align: center;
}

.grid-view-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.grid-view-item img {
    width: 250px;
    height: auto;
    margin-bottom: 12px;
}

.grid-view-item {
    text-align: center;
    max-width: 250px;
}

.grid-view-item .album-link {
    cursor: pointer;
}

.grid-view-item a {
    text-decoration: none;
}

.grid-view-info {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.entity-info {
    padding: 40px 0 10px 0;
    display: inline-block;
    width: 100%;
}

.entity-info .left-section {
    width: 30%;
    float: left;
    max-width: 250px;
}

.entity-info .left-section img {
    width: 100%;
}

.entity-info .right-section {
    width: 70%;
    float: left;
    padding: 5px 10px 5px 40px;
    box-sizing: border-box;
}

.entity-info .right-section h2 {
    margin-top: 0px;
}

.entity-info .right-section p {
    color: #939393;
    font-weight: 300;
}

.track-list {
    padding: 0;
}

.track-list .track-list-row {
    height: 40px;
    padding: 15px 10px;
    list-style-type: none;
    position: relative;
}

.track-list .track-list-row span {
    color: #939393;
    font-weight: 300;
}

.track-list .track-list-row:hover {
    background-color: #282828;
}

.track-list .track-list-row:hover .track-count img {
    visibility: visible;
}

.track-list .track-list-row:hover .track-number {
    visibility: hidden;
}

.track-list .track-list-row:hover .track-options img {
    visibility: visible;
}

.track-list .track-count {
    width: 8%;
    float: left;
}

.track-list .track-count img {
    width: 20px;
    visibility: hidden;
    position: absolute;
    cursor: pointer;
}

.track-list .track-info {
    width: 75%;
    float: left;
}

.track-list .track-info span {
    display: block;
}

.track-list .track-options {
    width: 5%;
    float: left;
    text-align: right;
}

.track-list .track-options img {
    width: 15px;
    visibility: hidden;
    cursor: pointer;
}

.track-list .track-duration {
    width: 12%;
    float: left;
    text-align: right;
}

.track-list .track-info .track-name {
    color: #fff;
    margin-bottom: 7px;
}

.artist-info {
    text-align: center;
}

.button {
    color: white;
    background: transparent;
    cursor: pointer;
    margin-bottom: 10px;
    font-weight: 500;
    letter-spacing: 2px;
    border: 2px solid #fff;
    border-radius: 50px;
    padding: 12px;
    min-width: 121px;
}

.button.green {
    background-color: #2ebd59;
    border-color: #2ebd59;
}

.border-bottom {
    border-bottom: 1px solid #939393;
    margin-bottom: 20px;
}

.text-center {
    text-align: center;
}

#main-content .search-container {
    background-color: #242424;
    padding: 20px 28px;

}

.search-container h4 {
    margin: 0;
    font-weight: 300;
}

.search-input {
    background-color: transparent;
    border: none;
    color: #fff;
    font-weight: 600;
    font-size: 40px;
    letter-spacing: 2px;
    width: 100%;
    outline: none;
}

.search-result-row {
    padding: 15px 10px;
}

.search-result-row:hover {
    background-color: #282828;
}

.search-result-row .artist-name span {
    cursor: pointer;
    color: #fff;
}

.no-results {
    margin: 15px;
    display: block;
}

.button-items {
    margin-bottom: 10px;
}

.playlist-container {
    padding: 10px 0px;
}

#playlist-input {
    color: #fff;
    display: block;
    font-weight: 600;
    border: none;
    font-size: 20px;
    letter-spacing: 2px;
    min-width: 200px;
    max-width: 300px;
    width: 100%;
    outline: none;
    background-color: #242424;
    padding: 10px 6px;
    margin-right: 4px;
}

.playlist-input-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-small {
    color: white;
    background: transparent;
    cursor: pointer;
    margin-bottom: 10px;
    font-weight: 500;
    letter-spacing: 2px;
    border: 2px solid #fff;
    border-radius: 4px;
    padding: 10px;
    margin: 0;
}

.playlist-container .grid-view-item {
    cursor: pointer;
}

.playlist-container .playlist-image img {
    width: 150px;
    margin-bottom: 0px;
}

.playlist-container .playlist-image {
    border: 3px solid #282828;
    padding: 10px;
    margin-bottom: 12px;
}